:root {
	--cell-size: 50px;
}

#ep-container {
	padding-top: .5rem;

	p {
		margin-top: 1rem;
		margin-bottom: .25rem;
	}

	table {
		border-collapse: collapse;
	}

	td {
		border: 2px solid #344861;
		color: #4a90e2;
		cursor: pointer;
		font-size: 2rem;
		height: var(--cell-size);
		text-align: center;
		width: var(--cell-size);

		&:hover {
			background: #ddeeff;
		}
	}
}

#ep-result {
	display: flex;
	flex-wrap: wrap;

	> * {
		padding-right: .25em;
		padding-bottom: .25em;
	}
}
