:root {
	--border-bold: 2px solid #344861;
	--border-thin: 1px solid #bec6d4;
	--cell-size: 50px;
}

#sudoku-view {
	> table {
		border-collapse: collapse;
	}

	/* 行ごとの横線 */
	tr {
		border-top: var(--border-thin);

		&:first-child {
			border-top: var(--border-bold);
		}

		&:nth-child(3n) {
			border-bottom: var(--border-bold);
		}
	}

	td {
		border-left: var(--border-thin);
		color: #4a90e2;
		cursor: pointer;
		font-size: 2rem;
		height: var(--cell-size);
		text-align: center;
		width: var(--cell-size);

		&.fixed {
			color: #666;
		}

		&:hover {
			background: #ddeeff;
		}

		&:first-child {
			border-left: var(--border-bold);
		}

		&:nth-child(3n) {
			border-right: var(--border-bold);
		}
	}
}

