:root {
	--color-header-item: #f0f6fc;
	--color-header-item-hover: rgba(240, 246, 252, 0.7);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

header {
	.app-header-container {
		padding: 16px 32px;
		align-items: center;
		background-color: #0d1117;
		color: var(--color-header-item);
		display: flex;
	}

	nav {
		font-weight: 600;

		a {
			text-decoration: none;

			&:hover {
				color: var(--color-header-item-hover);
			}

			&:visited {
				color: var(--color-header-item);
			}

			&:not(:first-child) {
				margin-left: 10px;
			}
		}
	}
}

main {
	.app-main-container {
		margin: 3px;
	}

	.app-sample {
		margin-bottom: 30px;
	}

	.app-reference {
		li {
		}
	}
}
