:root {
	--color-header-item: #f0f6fc;
	--color-header-item-hover: rgba(240, 246, 252, 0.7);
	--height-header-padding: 16px;
	--height-header-nav: 24px;
	--height-header: calc(var(--height-header-padding) * 2 + var(--height-header-nav));
	--height-main-h1: 48px;
	--height-main-h1-margin: .5rem;
	--height-main-title: calc(var(--height-main-h1) + var(--height-main-h1-margin) * 2);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

header {
	.app-header-container {
		padding: var(--height-header-padding) 32px;
		align-items: center;
		background-color: #0d1117;
		color: var(--color-header-item);
		display: flex;
	}

	nav {
		font-weight: 600;
		height: var(--height-header-nav);

		a {
			text-decoration: none;

			&:hover {
				color: var(--color-header-item-hover);
			}

			&:visited {
				color: var(--color-header-item);
			}

			&:not(:first-child) {
				margin-left: 10px;
			}
		}
	}
}

main {
	.app-main-container {
		margin: 0 1.5rem;

		> h1 {
			height: var(---height-main-h1);
			margin: var(--height-main-h1-margin) 0;

			small {
				display: block;
			}
		}
	}

	.app-sample {
		margin-bottom: 30px;
	}

	.app-reference {
		li {
		}
	}

	.app-display-none {
		display: none;
	}
}
