@page
@{
	ViewBag.Title = "Html/Index";
}
<ul>
	<li><a asp-page="./DetailsSummary">details/summary</a>
	<li>
		短いHTMLコードで実装できる小技テク
		<ul>
			<li><a asp-page="./ShortHtml" asp-route-id="@ShortHtmlTip.OlStart">olのstart属性</a></li>
		</ul>
	</li>
</ul>
