@page
@{
	ViewBag.Title = "Html/Index";
}
<ul>
	<li><a asp-page="./DetailsSummary">details/summary</a>
	<li>
		短いHTMLコードで実装できる小技テク
		<ul>
			@foreach (var tip in Enum.GetValues(typeof(ShortHtmlTip)).Cast<ShortHtmlTip>()) {
				<li><a asp-page="./ShortHtml" asp-route-tip="@tip">@tip.GetDisplayName()</a></li>
			}
		</ul>
	</li>
</ul>
