@page
@{
	ViewBag.Title = "Html/Index";
}
<ul>
	<li><a asp-page="./DetailsSummary">details/summary</a>
	<li>
		短いHTMLコードで実装できる小技テク
		<ul>
			<li><a asp-page="./ShortHtml" asp-route-tip="@ShortHtmlTip.OlStart">@ShortHtmlTip.OlStart.GetDisplayName()</a></li>
		</ul>
	</li>
</ul>
