@page "{tip}"
@model ShortHtmlModel
@{
	ViewBag.Title = "短いHTMLコードで実装できる小技テク17選";
	ViewBag.Subtitle = Model.Tip.GetDisplayName();
}

<section class="app-sample shorthtml-sample-@Model.Tip.ToString().ToLower()">
	@if (Model.Tip == ShortHtmlTip.OlStart) {
		<ol start="11">
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
		</ol>
	} else if (Model.Tip == ShortHtmlTip.Meter) {
		foreach (var (id, label, value) in new[] {
			 ("value1", "Low", 25),
			 ("value2", "Medium", 50),
			 ("value3", "High", 90) }) {
			<label for="@id">@label</label>
			<meter id="@id" min="0" max="100" low="30" high="75" optimum="80" value="@value"></meter>
		}
	} else if (Model.Tip == ShortHtmlTip.DataList) {
		<input list="items" />
		<datalist id="items">
			<option value="Apple" />
			<option value="Bus" />
			<option value="Cup" />
			<option value="Duck" />
			<option value="Frog" />
		</datalist>
	}
</section>

<section class="app-reference">
	<ul>
		<li><a href="https://photoshopvip.net/129002">【HTML】知っておくと便利！短いHTMLコードで実装できる小技テク17選 - PhotoshopVIP</a></li>
	</ul>
</section>
