@page
@{
	ViewBag.Title = "angle";

	// 参考
	// https://developer.mozilla.org/ja/docs/Web/CSS/angle
}

<section class="app-sample">
	<h3>デフォルト</h3>
	<div class="agl-target">transform</div>
</section>
