@page
@{
	ViewBag.Title = "angle";

	// 参考
	// https://developer.mozilla.org/ja/docs/Web/CSS/angle
}

<section class="app-sample">
	<h3>デフォルト</h3>
	<div class="agl-target">transform</div>
</section>

@* deg *@
<section class="app-sample agl-sample-container">
	<section class="agl-sample agl-sample1">
		<h3>rotate(-90deg)</h3>
		<div class="agl-target">transform</div>
	</section>
	<section class="agl-sample agl-sample2">
		<h3>rotate(-45deg)</h3>
		<div class="agl-target">transform</div>
	</section>

	<section class="agl-sample">
		<h3>default</h3>
		<div class="agl-target">transform</div>
	</section>

	<section class="agl-sample agl-sample3">
		<h3>rotate(45deg)</h3>
		<div class="agl-target">transform</div>
	</section>
	<section class="agl-sample agl-sample4">
		<h3>rotate(90deg)</h3>
		<div class="agl-target">transform</div>
	</section>
</section>

@* turn *@
<section class="app-sample agl-sample-container">
	<section class="agl-sample agl-sample5">
		<h3>rotate(-0.25turn)</h3>
		<div class="agl-target">transform</div>
	</section>
	<section class="agl-sample agl-sample6">
		<h3>rotate(-0.125turn)</h3>
		<div class="agl-target">transform</div>
	</section>

	<section class="agl-sample">
		<h3>default</h3>
		<div class="agl-target">transform</div>
	</section>

	<section class="agl-sample agl-sample7">
		<h3>rotate(0.125turn)</h3>
		<div class="agl-target">transform</div>
	</section>
	<section class="agl-sample agl-sample8">
		<h3>rotate(0.25turn)</h3>
		<div class="agl-target">transform</div>
	</section>
</section>
