@page
@{
	ViewBag.Title = "angle";

	// 参考
	// https://developer.mozilla.org/ja/docs/Web/CSS/angle
}

@* deg *@
<section class="app-sample">
	<section class="agl-sample">
		<h3>rotate(-90deg)</h3>
		<div class="agl-target agl-rotate-minus90deg">transform</div>
	</section>
	<section class="agl-sample">
		<h3>rotate(-45deg)</h3>
		<div class="agl-target agl-rotate-minus45deg">transform</div>
	</section>

	<section class="agl-sample">
		<h3>default</h3>
		<div class="agl-target agl-rotate-0deg">transform</div>
	</section>

	<section class="agl-sample">
		<h3>rotate(45deg)</h3>
		<div class="agl-target agl-rotate-45deg">transform</div>
	</section>
	<section class="agl-sample">
		<h3>rotate(90deg)</h3>
		<div class="agl-target agl-rotate-90deg">transform</div>
	</section>
</section>

@* turn *@
<section class="app-sample">
	<section class="agl-sample">
		<h3>rotate(-0.25turn)</h3>
		<div class="agl-target agl-rotate-minus025turn">transform</div>
	</section>
	<section class="agl-sample">
		<h3>rotate(-0.125turn)</h3>
		<div class="agl-target agl-rotate-minus0125turn">transform</div>
	</section>

	<section class="agl-sample">
		<h3>default</h3>
		<div class="agl-target agl-rotate-0turn">transform</div>
	</section>

	<section class="agl-sample">
		<h3>rotate(0.125turn)</h3>
		<div class="agl-target agl-rotate-0125turn">transform</div>
	</section>
	<section class="agl-sample">
		<h3>rotate(0.25turn)</h3>
		<div class="agl-target agl-rotate-025turn">transform</div>
	</section>
</section>
