@page
@{
	ViewBag.Title = "box-sizing";
}

<section class="app-sample">
	<div class="box-container">
		<div class="box-item box-item-content-box">content-box</div>
		<div class="box-item box-item-border-box">border-box</div>
	</div>
</section>
<section class="app-reference">
	<ul>
		<li><a href="https://developer.mozilla.org/ja/docs/Web/CSS/box-sizing">CSS box-sizing — 幅と高さの適用方法を制御 - CSS: カスケーディングスタイルシート | MDN</a></li>
	</ul>
</section>
