@page
@{
}

<section class="app-reference">
	<ul>
		<li><a href="https://coliss.com/articles/build-websites/operation/css/centering-in-css.html">CSSの中央揃えで、最も万能で信頼できる実装テクニック | コリス</a></li>
	</ul>
</section>
