@page
@{
	ViewBag.Title = "Centering";

	void render(string content, bool repeat = true) {
		<div class="ce-container-wrapper">
			<div class="ce-container">
				<div class="ce-item" contenteditable>@content</div>
			</div>
			@if (repeat) {
				<div class="ce-container">
					@foreach (var _ in Enumerable.Repeat(0, 3)) {
						<div class="ce-item" contenteditable>@content</div>
					}
				</div>
			}
		</div>
	}
}

<section class="app-sample ce-sample-content-center">
	<h3>1. Content Center</h3>
	@{
		render("Content Center");
	}
</section>

<section class="app-sample ce-sample-gentle-flex">
	<h3>2. Gentle Flex</h3>
	@{
		render("Gentle Flex");
	}
</section>

<section class="app-sample ce-sample-autobot">
	<h3>3. Autobot</h3>
	@{
		render("Autbot");
	}
</section>

<section class="app-sample">
	<h3>4. Fluffy Center</h3>
</section>

<section class="app-sample ce-sample-popnplop">
	<h3>5. Pop & Plop</h3>
	@{
		render("Pop & Plop", repeat: false);
	}
</section>

<section class="app-reference">
	<ul>
		<li><a href="https://coliss.com/articles/build-websites/operation/css/centering-in-css.html">CSSの中央揃えで、最も万能で信頼できる実装テクニック | コリス</a></li>
	</ul>
</section>
