@page
@{
	ViewBag.Title = "details/summary";
}

<section class="app-sample">
	<details>
		<summary>summary</summary>
		details<br />
		details<br />
		details
	</details>
	<details open>
		<summary>open属性</summary>
		open属性を使って最初から開くことができる
	</details>
</section>


<section class="app-reference">
	<ul>
		<li><a href="https://www.webcreatorbox.com/tech/details-summary">CSSすら不要！detailsとsummaryタグで作る簡単アコーディオン | Webクリエイターボックス</a></li>
	</ul>
</section>
