@page
@{
	ViewBag.Title = ":focus-within";
}

<section class="app-sample">
	<form>
		<label for="username">Username</label>
		<input type="text" name="username">
		<br /><br />
		<label for="password">Password</label>
		<input type="password" name="username">
	</form>
</section>

<section class="app-reference">
	<ul>
		<li><a href="https://coliss.com/articles/build-websites/operation/css/css-focus-within-is-amazing.html">CSSの疑似クラス「:focus-within」が素晴らしい理由 | コリス</a></li>
	</ul>
</section>
