@page "{type}"
@model GradientModel
@{
	ViewBag.Title = "linear-gradient";
	// 参考
	// https://developer.mozilla.org/ja/docs/Web/CSS/gradient/linear-gradient
	// https://ics.media/entry/200212/
}

<section class="app-sample grad-color-container">
	<div class="grad-color1">color1</div>
	<div class="grad-color2">color2</div>
	<div class="grad-color3">color3</div>
</section>

<section class="app-sample grad-sample1">
	<h3>単純に2色を指定する（上から下に向かう）</h3>
	<div class="grad-image"></div>
</section>

<section class="app-sample grad-sample2">
	<h3>下から上に向かうグラデーション</h3>
	<div class="grad-image"></div>
</section>

<section class="app-sample grad-sample3">
	<h3>左下から右上45度に向かうグラデーション</h3>
	<div class="grad-image"></div>
</section>

<section class="app-sample grad-sample4">
	<h3>3色を指定するグラデーション</h3>
	<div class="grad-image"></div>
</section>

<section class="app-sample grad-sample5">
	<h3>2色で位置を指定する</h3>
	<div class="grad-image"></div>
	<div class="grad-image"></div>
	<div class="grad-image"></div>
	<div class="grad-image"></div>
	<div class="grad-image"></div>
</section>

<section class="app-sample grad-sample6">
	<h3>3色で位置を指定する</h3>
	<div class="grad-image"></div>
	<div class="grad-image"></div>
	<div class="grad-image"></div>
</section>
