@page "{type}"
@model GradientModel
@{
	ViewBag.Title = "linear-gradient";
	// 参考
	// https://developer.mozilla.org/ja/docs/Web/CSS/gradient/linear-gradient
	// https://ics.media/entry/200212/
}

<section class="app-sample grad-sample1">
	<h3>2色を指定する</h3>
	<div class="grad-image"></div>
</section>
