@page "{task}"
@model GridTutorialModel
@{
	// https://coliss.com/articles/build-websites/operation/css/css-grid-with-5-layouts.html
	ViewBag.Title = "CSS grid with 5 Layouts";
	ViewBag.Subtitle = Model.TaskDescription;
}

<div class="gt-container gt-task-@Model.Task">
	@if (Model.Task == 1) {
		<div class="gt-header">header</div>
		<div class="gt-main">main</div>
		<div class="gt-footer">footer</div>
	}
</div>
