@page
@{
	ViewBag.Title = "Grid";
}

<section class="app-sample grid-sample-grid">
	<h3>Sample</h3>
	<div class="grid-container">
		<div class="grid-item grid-item-1">A</div>
		<div class="grid-item">B</div>
		<div class="grid-item">C</div>
		<div class="grid-item">D</div>
		<div class="grid-item">E</div>
		<div class="grid-item grid-item-2">F</div>
		<div class="grid-item grid-item-3">G</div>
		<div class="grid-item">H</div>
		<div class="grid-item">I</div>
		<div class="grid-item">J</div>
		<div class="grid-item grid-item-4">K</div>
	</div>
</section>

<section class="app-sample grid-sample-default">
	<h3>Default</h3>
	<div class="grid-container">
		<div class="grid-item">A</div>
		<div class="grid-item">B</div>
		<div class="grid-item">C</div>
		<div class="grid-item">D</div>
		<div class="grid-item">E</div>
		<div class="grid-item">F</div>
		<div class="grid-item">G</div>
		<div class="grid-item">H</div>
		<div class="grid-item">I</div>
		<div class="grid-item">J</div>
		<div class="grid-item">K</div>
	</div>
</section>

<section class="app-reference">
	<ul>
		<li><a href="https://www.webcreatorbox.com/tech/css-grid-layout">CSSグリッドレイアウトで、サイズが違う複数のボックスをタイル状に配置する | Webクリエイターボックス</a></li>
		<li><a href="https://coliss.com/articles/build-websites/operation/css/css-grid-layout-terminology.html">CSS Gridの実装で必要な基礎知識、主要なプロパティと用語をくわしく解説 | コリス</a></li>
		<li><a href="https://coliss.com/articles/build-websites/operation/css/css-grid-vs-flexbox-which-should-you-choose.html">CSS Gridが適しているレイアウト、Flexboxが適してるレイアウトを詳しく解説 | コリス</a></li>
	</ul>
</section>
