@page "{task}"
@model GridTutorialModel
@{
	// https://coliss.com/articles/build-websites/operation/css/css-grid-with-5-layouts.html
	ViewBag.Title = "CSS grid with 5 Layouts";
	ViewBag.Subtitle = Model.TaskDescription;
}

<div class="gt-container gt-container-task@(Model.Task)">
	@if (Model.Task == 1) {
		<div class="gt-item">header</div>
		<div class="gt-item">main</div>
		<div class="gt-item">footer</div>
	} else if (Model.Task == 2) {
		<div class="gt-item">1</div>
		<div class="gt-item">2</div>
	} else if (Model.Task is 3 or 4) {
		<div class="gt-item gt-item-header">header</div>
		<div class="gt-item gt-item-nav">nav</div>
		<div class="gt-item gt-item-main">main</div>
		<div class="gt-item gt-item-sidebar">sidebar</div>
		<div class="gt-item gt-item-ads">ads</div>
		<div class="gt-item gt-item-footer">footer</div>
	} else if (Model.Task == 5) {
		<div class="gt-item">1</div>
		<div class="gt-item">2</div>
		<div class="gt-item">3</div>
		<div class="gt-item">4</div>
		<div class="gt-item">5</div>
	} else if (Model.Task == 6) {
		<div class="gt-item">1</div>
		<div class="gt-item">2</div>
		<div class="gt-item">3</div>
		<div class="gt-item">4</div>
	}
</div>
