@page "{pattern:int?}"
@model GridLayoutModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Layout with grid</title>
	<partial name="_PageCss" />
</head>
<body>
	@* Gridを使ったレイアウト *@
	<div class="grid-container grid-container-pattern@(Model.Pattern)">
		@if (Model.Pattern == 1) {
			<header>header</header>
			<aside>aside</aside>
			<main>main</main>
			<footer>footer</footer>
		} else if (Model.Pattern == 2) {
			<header>header</header>
			<nav>nav</nav>
			<aside>aside</aside>
			<main>main</main>
			<footer>footer</footer>
		}
	</div>
</body>
</html>
