@page
@{
	ViewBag.Title = "Grid repeat()";
}

@functions {
	private void RenderItems() {
		@foreach (var no in Enumerable.Range(1, 5)) {
			<div>Item @no</div>
		}
	}
}

<section class="app-sample">
	<h3>repeat(auto-fill)</h3>
	<div class="gridrepeat-autofill">
		@{ RenderItems(); }
	</div>
</section>

<section class="app-sample">
	<h3>repeat(auto-fit)</h3>
	<div class="gridrepeat-autofit">
		@{ RenderItems(); }
	</div>
</section>

<section class="app-reference">
	<ul>
		<li><a href="https://developer.mozilla.org/ja/docs/Web/CSS/repeat">repeat() - CSS: カスケーディングスタイルシート | MDN</a></li>
		<li><a href="https://www.webprofessional.jp/difference-between-auto-fill-and-auto-fit/">これは便利！CSS Gridのauto-fillとauto-fitの使い分けでRWDが捗る – WPJ</a></li>
	</ul>
</section>
