@page
@{
	ViewBag.Title = "Sass/Index";
}

<ul>
	<li><a asp-page="./Angle">Angle</a></li>
	<li><a asp-page="./Animation">Animation</a></li>
	<li><a asp-page="./BoxSizing">box-sizing</a></li>
	<li><a asp-page="./Centering">Centering</a></li>
	<li><a asp-page="./FlexboxComponent">Flexboxを使ったコンポーネント</a></li>
	<li><a asp-page="./FlexboxGridWrapper">FlexboxとGridの折り返しの違い</a></li>
	<li><a asp-page="./FlexboxSample">Flexboxを使ったサンプル（一部Gridも使う）</a></li>
	<li><a asp-page="./FocusWithin">:focus-within</a></li>
	<li>
		Gradient
		<ul>
			<li><a asp-page="./Gradient" asp-route-type="linear">linear-gradient</a></li>
		</ul>
	</li>
	<li><a asp-page="./Grid">Grid</a></li>
	<li><a asp-page="./GridFullBleed">Gridを使ってフルブリード</a></li>
	<li>
		Gridレイアウト サンプル
		<ul>
			<li><a asp-page="./GridLayout" asp-route-pattern="1">サンプル1</a></li>
			<li><a asp-page="./GridLayout" asp-route-pattern="2">サンプル2</a></li>
		</ul>
	</li>
	<li><a asp-page="./GridRepeat">Grid repeat()</a></li>
	<li>
		Gridチュートリアル
		<ul>
			@foreach (var task in GridTutorialModel.GetTasks()) {
				<li><a asp-page="./GridTutorial" asp-route-task="@task">@GridTutorialModel.GetTaskDescription(task)</a></li>
			}
		</ul>
	</li>
	<li><a asp-page="./Media">Media</a></li>
	<li>
		Ten modern layouts in one line of CSS
		<ul>
			@foreach (var layout in Enum.GetValues(typeof(OneLineLayout)).Cast<OneLineLayout>()) {
				<li><a asp-page="./OneLineLayout" asp-route-layout="@layout">@layout.GetDisplayName()</a></li>
			}
		</ul>
	</li>
	<li>
		position: sticky;&nbsp;サンプル
		<ul>
			<li><a asp-page="./PositionSticky" asp-route-pattern="1">ヘッダーをスティッキーアイテムに</a></li>
			<li><a asp-page="./PositionSticky" asp-route-pattern="2">フッターをスティッキーアイテムに</a></li>
		</ul>
	</li>
	<li><a asp-page="./TableStyling">Table styling</a></li>
	<li><a asp-page="./Transform">Transform</a></li>
	<li><a asp-page="./Transition">Transition</a></li>
</ul>
