@page
@{
	ViewBag.Title = "Media";
}

<section class="app-sample">
	<div class="media-box">
	</div>
</section>

<section class="app-reference">
	<ul>
		<li><a href="https://developer.mozilla.org/ja/docs/Web/CSS/Media_queries">メディアクエリ - CSS: カスケーディングスタイルシート | MDN</a></li>
	</ul>
</section>
