@page "{pattern:int?}"
@model PositionStickyModel
@{
	// "position: sticky;"のサンプル
	// 参考
	// position: sticky; の仕組みや実際の使い方をやさしく解説 | コリス
	// https://coliss.com/articles/build-websites/operation/css/css-position-sticky-how-it-really-works.html

	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>position: sticky;</title>
	<partial name="_PageCss" />
</head>
<body>
	<div>
		<header>header</header>
		<main>main</main>
		<footer>footer</footer>
	</div>
</body>
</html>
