@page
@model PositionStickyModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>position: sticky;</title>
	<partial name="_PageCss" />
</head>
<body>
	<div>
		<header>header</header>
		<main>main</main>
		<footer>footer</footer>
	</div>
</body>
</html>
