@page
@{
	ViewBag.Title = "Table styling";
}
<section class="app-sample">
</section>
<section class="app-reference">
	<ul>
		<li><a href="https://dev.to/madsstoumann/a-guide-to-styling-tables-28d2">A Guide to Styling Tables - DEV Community</a></li>
	</ul>
</section>
