@page
@{
	ViewBag.Title = "Table styling";
}
<section class="app-sample">
	<h3>Default</h3>
	<partial name="_Table" />
</section>
<section class="app-sample ts-bordered">
	<h3>Bordered</h3>
	<partial name="_Table" />
</section>
<section class="app-sample ts-zebra-stripe-column">
	<h3>Zebra stripe(Column)</h3>
	<partial name="_Table" />
</section>
<section class="app-sample ts-zebra-stripe-row">
	<h3>Zebra stripe(Row)</h3>
	<partial name="_Table" />
</section>

<section class="app-sample ts-rounded-corner">
	<h3>Rounded corner</h3>
	<partial name="_Table" />
</section>

<section class="app-reference">
	<ul>
		<li><a href="https://dev.to/madsstoumann/a-guide-to-styling-tables-28d2">A Guide to Styling Tables - DEV Community</a></li>
	</ul>
</section>
