@page
@{
	ViewBag.Title = "Transition";
}
<section class="app-sample transition-sample-rotate">
	<h3>transition - rotate</h3>
	<div class="transition-container transition-rotate">
		<div class="transition-item">
			<partial name="_Icon" model="Icon.StarFill" />
		</div>
	</div>
</section>

<section class="app-reference">
	<ul>
		<li><a href="https://developer.mozilla.org/ja/docs/Web/CSS/CSS_Transitions">CSS トランジション - CSS: カスケーディングスタイルシート | MDN</a></li>
	</ul>
</section>
