
.shorthtml-sample-imageloadinglazy {
	img {
		display: block;
		margin-top: 50px;
	}
}

.shorthtml-sample-meter {
	label {
		display: block;
		margin-top: 10px;
	}

	meter {
		width: 300px;
		height: 20px;
	}
}

.shorthtml-sample-inputrange {
	label {
		display: block;
		margin-top: 10px;
	}

	input[type=range] {
		width: 200px;
	}
}

.shorthtml-sample-inputsearch {
	label {
		display: block;
		margin-top: 10px;
	}
}
