
.app-sample {
	h3 {
	}

	.agl-target {
		height: 100px;
		width: 100px;
		background: #ffa07a;

		// 中央寄せ
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

// deg ... 度数

// 正の値は時計回り
.agl-sample1 {
	.agl-target {
		transform: rotate(45deg);
	}
}
.agl-sample2 {
	.agl-target {
		transform: rotate(90deg);
	}
}

// 念のため負の値
.agl-sample3 {
	.agl-target {
		transform: rotate(-45deg);
	}
}
.agl-sample4 {
	.agl-target {
		transform: rotate(-90deg);
	}
}
