
.app-sample {
	h3 {
	}

	.agl-target {
		background: #ffa07a;

		height: 100px;
		width: 150px;

		// 中央寄せ
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.agl-sample-container {
	display: flex;
	gap: 30px;

	.agl-sample {
		h3 {
			margin-bottom: 50px;
		}
	}

	// deg ... 度数
	// 負の値は反時計周り
	.agl-sample1 {
		.agl-target {
			transform: rotate(-90deg);
		}
	}
	.agl-sample2 {
		.agl-target {
			transform: rotate(-45deg);
		}
	}
	// 正の値は時計回り
	.agl-sample3 {
		.agl-target {
			transform: rotate(45deg);
		}
	}
	.agl-sample4 {
		.agl-target {
			transform: rotate(90deg);
		}
	}
}
