
.ce-container-wrapper {
	display: flex;
	justify-content: space-evenly;
}

.ce-container {
	background: #ccc;
	border-radius: 5px;
	border: solid 2px pink;
	overflow: hidden;
	resize: both;
	width: 400px;
	height: 200px;
}

.ce-item {
	background: #fff;
	border-radius: 5px;
	padding: 1ch;
}

.ce-sample-content-center {
	.ce-container {
		display: grid;
		place-content: center;
		gap: 1ch;
	}
}

.ce-sample-gentle-flex {
	.ce-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1ch;
	}
}

.ce-sample-autobot {
	.ce-container {
		display: flex;

		> * {
			margin: auto;
		}
	}
}

.ce-sample-popnplop {
	.ce-container {
		position: relative;
	}

	.ce-item {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
