
.gt-container {
	background: #eee;

	// 初期のサイズ
	height: 600px;
	width: calc(100vw - 6px);

	.gt-item {
		background: #fff;
		border: 2px solid #c31;
		border-radius: .5ch;
		padding: 1ch;
	}
}

.gt-container-task1 {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-gap: .2ch;
}

.gt-container-task2 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 5px;

	.gt-item:first-child {
		grid-column: 2 / span 4;
	}

	.gt-item:last-child {
		grid-column: 6 / span 6;
	}
}

.gt-container-task3 {
	display: grid;

	// Mobile
	grid-template-rows: auto auto 1fr auto auto auto;
	grid-gap: 12px;

	// Tablet
	@media (min-width: 720px) {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto auto 1fr auto;

		.gt-item-header {
			grid-column: 1 / span 12;
		}

		.gt-item-navigation {
			grid-column: 1 / span 12;
		}

		.gt-item-main {
			grid-column: 3 / span 10;
		}

		.gt-item-sidebar {
			grid-column: 1 / span 2;
			grid-row: 3;
		}

		.gt-item-ads {
			grid-column: 1 / span 2;
		}

		.gt-item-footer {
			grid-column: 3 / span 10;
		}
	}

	// Desktop
	@media (min-width: 1020px) {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto auto 1fr auto;

		.gt-item-header {
			grid-column: 1 / span 12;
		}

		.gt-item-navigation {
			grid-column: 3 / span 8;
		}

		.gt-item-main {
			grid-column: 3 / span 8;
		}

		.gt-item-sidebar {
			grid-column: 1 / span 2;
			grid-row: 2 / span 2;
		}

		.gt-item-ads {
			grid-column: 11 / span 2;
			grid-row: 2 / span 2;
		}

		.gt-item-footer {
			grid-column: 1 / span 12;
		}
	}
}
