
.gt-container {
	background: #eee;

	// 初期のサイズ
	height: calc(100vh - 250px);
	width: calc(100vw - 6px);

	.gt-item {
		background: #fff;
		border: 2px solid #c31;
		border-radius: .5ch;
		padding: 1ch;
	}
}

.gt-container-task1 {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-gap: .2ch;
}

.gt-container-task2 {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 5px;

	.gt-item:first-child {
		grid-column: 2 / span 4;
	}

	.gt-item:last-child {
		grid-column: 6 / span 6;
	}
}

// without grid-template-areas
.gt-container-task3 {
	display: grid;
	grid-gap: 12px;

	// Mobile
	grid-template-rows: auto auto 1fr auto auto auto;

	// Tablet
	@media (min-width: 720px) {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto auto 1fr auto;

		.gt-item-header {
			grid-column: 1 / span 12;
		}

		.gt-item-nav {
			grid-column: 1 / span 12;
		}

		.gt-item-main {
			grid-column: 3 / span 10;
		}

		.gt-item-sidebar {
			grid-column: 1 / span 2;
			grid-row: 3;
		}

		.gt-item-ads {
			grid-column: 1 / span 2;
		}

		.gt-item-footer {
			grid-column: 3 / span 10;
		}
	}

	// Desktop
	@media (min-width: 1020px) {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto auto 1fr auto;

		.gt-item-header {
			grid-column: 1 / span 12;
		}

		.gt-item-nav {
			grid-column: 3 / span 8;
		}

		.gt-item-main {
			grid-column: 3 / span 8;
		}

		.gt-item-sidebar {
			grid-column: 1 / span 2;
			grid-row: 2 / span 2;
		}

		.gt-item-ads {
			grid-column: 11 / span 2;
			grid-row: 2 / span 2;
		}

		.gt-item-footer {
			grid-column: 1 / span 12;
		}
	}
}

// with grid-template-areas
.gt-container-task4 {
	display: grid;
	grid-gap: 12px;

	// Mobile
	grid-template-areas:
		"header"
		"nav"
		"main"
		"sidebar"
		"ads"
		"footer";
	grid-template-rows: auto auto 1fr auto auto auto;

	// Tablet
	@media (min-width: 720px) {
		grid-template-areas:
			"header header header header header header"
			"nav nav nav nav nav nav"
			"sidebar main main main main main"
			"ads footer footer footer footer footer";
		grid-template-rows: auto auto 1fr auto;
	}

	// Desktop
	@media (min-width: 1020px) {
		grid-template-areas:
			"header header header header header header"
			"sidebar nav nav nav nav ads"
			"sidebar main main main main ads"
			"footer footer footer footer footer footer";
		grid-template-rows: auto auto 1fr auto;
	}

	.gt-item-header {
		grid-area: header;
	}

	.gt-item-nav {
		grid-area: nav;
	}

	.gt-item-main {
		grid-area: main;
	}

	.gt-item-sidebar {
		grid-area: sidebar;
	}

	.gt-item-ads {
		grid-area: ads;
	}

	.gt-item-footer {
		grid-area: footer;
	}
}

.gt-container-task5 {
	display: grid;

	// カラムを150px以下にせず、スペースを均等に分配する
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 24px;
}

.gt-container-task6 {
	display: grid;

	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);

	.gt-item {
		grid-column-end: span 3;
		grid-row-end: span 3;

		&:first-child {
			grid-column-start: 10;
			grid-row-start: 10;
		}

		&:nth-child(2) {
			grid-column-start: 4;
			grid-row-start: 4;
		}

		&:nth-child(3) {
			grid-column-start: 7;
			grid-row-start: 7;
		}

		&:last-child {
			grid-column-start: 1;
			grid-row-start: 1;
		}
	}
}
