.media-box {
	height: 30px;
}


@media (max-width: 575px) {
	.media-box {
		background-color: #04131c;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.media-box {
		background-color: #114e76;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.media-box {
		background-color: #1f94de;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.media-box {
		background-color: #95cdf0;
	}
}

@media (min-width: 1200px) {
	.media-box {
		background-color: #eef7fd;
	}
}
