
.app-sample {
	display: flex;
	align-content: center;
	justify-content: center;
}

.ps-container {
	background-color: #ddd;
	height: 500px;
	width: 500px;
	overflow-y: scroll;
	padding: .5rem;

	> * {
		border: dashed 2px #000;
		height: 100px;
		padding: 1rem;

		+ * {
			margin-top: .5rem;
		}
	}

	.ps-main {
		height: 700px;
	}
}

// ヘッダーがsticky
.ps-container-1 {
	.ps-header {
		border-color: red;
		top: 0;
		position: sticky;
	}
}

// フッターがsticky
.ps-container-2 {
	.ps-footer {
		border-color: red;
		bottom: 0;
		position: sticky;
	}
}
