
table {
	border-collapse: collapse;
	caption-side: bottom;
	// OSのUIに使われているフォント
	//font-family: system-ui;

	caption {
		margin-block: 1rlh;
	}

	:is(td, th) {
		border-color: #c7c7c7;
		border-style: solid;
		padding: .5ch 1ch;
	}
}

.ts-bordered {
}

.ts-zebra-stripe-column {
	table {
		col:nth-of-type(even) {
			background: #f2f2f2;
		}
	}
}

.ts-zebra-stripe-row {
	table {
		tr:nth-of-type(odd) {
			background: #f2f2f2;
		}
	}
}

.ts-rounded-corner {
}

.ts-hover {
	table {
		td:hover {
			background: #666666;
		}

		tr:hover {
			background: #e6e6e6;
		}

		// col
		&:has(:is(td, th):nth-child(1):hover) col:nth-child(1),
		&:has(:is(td, th):nth-child(2):hover) col:nth-child(2),
		&:has(:is(td, th):nth-child(3):hover) col:nth-child(3),
		&:has(:is(td, th):nth-child(4):hover) col:nth-child(4) {
			background: #e6e6e6;
		}
	}
}
