.ts-bordered {
	table {
		border-collapse: collapse;
		caption-side: bottom;
		// OSのUIに使われているフォント
		//font-family: system-ui;

		caption {
			margin-block: 1rlh;
		}

		:is(td, th) {
			border-style: solid;
			padding: .5ch 1ch;
		}
	}
}

.ts-rounded-corner {
}
