@page "~/ts/8puzzle"
@{
	ViewBag.Title = "8 Puzzle";
}
<div>
	<button id="ep-button-generate" type="button">Generate</button>
	<button id="ep-button-resolve" type="button">Resolve</button>
</div>
<div id="ep-container">
	<p>Question:</p>
	<div id="ep-question">
	</div>
	<p>Result:</p>
	<div id="ep-result">
	</div>
</div>
