@page
@{
	ViewBag.Title = "History API";
}

<div>
	page: <input class="input-page" readonly />
	<button class="button-push-state">pushState</button>
	<button class="button-replace-state">replaceState</button>
	<button class="button-back">back</button>
</div>
<div>
	popstate:
	<br />
	<textarea class="textarea-state" cols="50" rows="10"></textarea>
</div>
