@page
@{
	ViewBag.Title = "TypeScript/Index";
}

<ul>
	<li><a asp-page="./EightPuzzle">8 Puzzle</a></li>
	<li><a asp-page="./FadeInOut">Fade in/out with requestAnimationFrame</a></li>
	<li><a asp-page="./GameOfLife">Game of Life</a></li>
	<li><a asp-page="./ImageDataUrl">Image to Data URL</a></li>
	<li><a asp-page="./History">History</a></li>
	<li><a asp-page="./IntersectionObserver">IntersectionObserver</a></li>
	<li><a asp-page="./MutationObserver">MutationObserver</a></li>
	<li><a asp-page="./Pdf">PDF</a></li>
	<li><a asp-page="./Saizeriya">Saizeriya</a></li>
	<li><a asp-page="./Sudoku">Sudoku</a></li>
	<li><a asp-page="./SvgClock">SVG Clock</a></li>
	<li><a asp-page="./Test">Test</a></li>
</ul>
