@page
@{
	ViewBag.Title = "Index";
}

<ul>
	<li><a asp-page="./GameOfLife">Game of Life</a></li>
	<li><a asp-page="./Sudoku">Sudoku</a></li>
	<li><a asp-page="./ImageDataUrl">Image to Data URL</a></li>
	<li><a asp-page="./Pdf">PDF</a></li>
	<li><a asp-page="./SvgClock">SVG Clock</a></li>
	<li><a asp-page="./Test">Test</a></li>
</ul>
