@page
@{
	ViewBag.Title = "IntersectionObserver";
	// 参考
	// Intersection Observerが簡単で便利！要素がビューポートに表示されているかを判定できる | コリス
	// https://coliss.com/articles/build-websites/operation/javascript/about-intersection-observer.html
	// https://developer.mozilla.org/ja/docs/Web/API/Intersection_Observer_API
	// https://developer.mozilla.org/ja/docs/Web/API/IntersectionObserver
}
<div id="io-viewport">
	<div id="io-container">
		<div id="io-target">Target</div>
	</div>
</div>
<div id="io-status">
</div>
