@page
@{
	ViewBag.Title = "MutationObserver";
}
<div>
	<button id="mo-button-append">Append</button>
	<button id="mo-button-remove">Remove</button>
</div>
<div id="mo-target">
</div>
<textarea id="mo-log" rows="20" cols="50">
</textarea>
