@page
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment Env
@{
	ViewBag.Title = "PDF";
}
@functions {
	private string GetSamplePdfBase64() {
		var file = Env.WebRootFileProvider.GetFileInfo("sample.pdf");

		var base64 = "";
		if (file is not null &&
			file.Exists &&
			file.PhysicalPath is not null) {
			base64 = Convert.ToBase64String(System.IO.File.ReadAllBytes(file.PhysicalPath));
		}

		return $"data:application/pdf;base64,{base64}";
	}
}

<h4>embed</h4>
<embed src="~/sample.pdf" type="application/pdf" width="300" height="300" />

<h4>embed:base64</h4>
<embed src="@GetSamplePdfBase64()" type="application/pdf" width="300" height="300" />

<h4>iframe</h4>
<iframe src="~/sample.pdf" type="application/pdf" width="300" height="300"></iframe>

<h4>iframe:base64</h4>
<iframe src="@GetSamplePdfBase64()" type="application/pdf" width="300" height="300"></iframe>

