@page
@{
	ViewBag.Title = "Saizeriya";
}
<div class="sz-menu">
</div>
<div>
	<button class="sz-button-calc" type="button">計算</button>
</div>
<div class="sz-result-calorie">
</div>
<div class="sz-result-menu">
</div>
<div class="app-display-none sz-template-container">
	<table>
		<thead>
			<tr>
				<th>メニュー</th>
				<th>記号</th>
				<th>分類</th>
				<th>価格（円）</th>
				<th>カロリー（kcal）</th>
				<th>1円あたりのカロリー（kcal/円）</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
