@page
@{
	ViewBag.Title = "Server Sent Events";
}
<section>
	<div>
		<button id="sse-button-start">Start</button>
		<button id="sse-button-cancel">Cancel</button>
	</div>
	@*
	<progress id="sse-progress" value="0" max="100"></progress>
	*@
</section>
<section class="app-reference">
	<ul>
		<li><a href="https://developer.mozilla.org/ja/docs/Web/API/Server-sent_events/Using_server-sent_events">サーバー送信イベントの使用 - Web API | MDN</a></li>
	</ul>
</section>
