@page
@{
	ViewBag.Title = "Server Sent Events";
}
<section class="app-reference">
	<ul>
		<li><a href="https://developer.mozilla.org/ja/docs/Web/API/Server-sent_events/Using_server-sent_events">サーバー送信イベントの使用 - Web API | MDN</a></li>
	</ul>
</section>
